{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Empresas por actividade - GetCompany Info</title>
        {% endif %}

        {% if is_bot == False %}
            {% if debug == True %}
                <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
                <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
                <link rel="stylesheet" href="{% static 'css/styles.css' %}">
            {% else %}
                <link rel="stylesheet" href="{% static 'production/styles.min.css' %}">
            {% endif %}
        {% else %}
            <link rel="stylesheet" href="{% static 'production/styles.bot.min.css' %}">
        {% endif %}

        {% block css %}{% endblock %}

        <link rel="dns-prefetch" href="//getcompany.info/">

        <link rel="icon" type="image/png" href="/static/img/favicon.png" />

        <meta name="application-name" content="GetCompany Info">

        <meta name="robots" content="index,follow,noodp">
        <meta name="googlebot" content="index,follow">

        <meta name="google" content="nositelinkssearchbox">

        <meta name="google" content="notranslate">

        <meta name="subject" content="Encontre facilmente qualquer empresa portuguesa e estrangeira">

        <meta name="abstract" content="Encontre facilmente qualquer empresa">

        <meta name="url" content="https://www.getcompany.info/">

        <meta name="directory" content="submission">

        <meta name="rating" content="General">

        <meta name="referrer" content="never">

        <meta name="format-detection" content="telephone=no">

        <meta http-equiv="x-dns-prefetch-control" content="on">

        <meta property="og:locale" content="pt-PT" />

        {% if company.name %}
            <meta property="title" content="{{ company.identifier }} {{ company.name }} - GetCompany.info" />
            <meta property="og:title" content="{{ company.identifier }} {{ company.name }} - GetCompany.info" />
            <meta property="og:type" content="company" />

            {% if company.about %}
                <meta property="og:description" content="{{ company.identifier }} {{ company.about }}" />
                <meta name="description" content="{{ company.identifier }} {{ company.about }}">

            {% else %}
                <meta property="og:description" content="{{ company.identifier }} {{ company.name }} GetCompany Info é um portal com informações de milhares de empresas, incluindo as suas actividades" />
                <meta name="description" content="{{ company.identifier }} {{ company.name }} GetCompany Info é um portal com informações de milhares de empresas, incluindo as suas actividades">
            {% endif %}


            {% for comp in random_companies %}
                <meta property="og:see_also" content="https://www.getcompany.info/{{ comp.id }}/" />
        	{% endfor %}

        {% else %}
            <meta property="title" content="Empresas por actividade - getcompany.info" />
            <meta property="og:title" content="Empresas por actividade - getcompany.info" />
            <meta property="og:type" content="website" />

            <meta property="og:description" content="GetCompany Info é um portal com informações de milhares de empresas, incluindo as suas actividades" />
            <meta name="description" content="GetCompany Info é um portal com informações de milhares de empresas, incluindo as suas actividades">

        {% endif %}

    </head>
    <body class="hold-transition skin sidebar-mini layout-boxed">
        <div class="wrapper">
            <header class="main-header">
                <a href="/" class="logo">
                    <span class="logo-mini"><b>GC</b>I</span>
                    <span class="logo-lg"><b>GetCompany</b> Info</span>
                </a>
                <nav class="navbar navbar-static-top" role="navigation">
                    <a id="toggle-sidebar" href="#" class="sidebar-toggle visible-xs" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                        </ul>
                    </div>
                </nav>
            </header>
            <aside class="main-sidebar">
                <section class="sidebar">
                    <div class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" id="search" class="form-control" autocomplete="off" placeholder="Insira um Nome ou Nif">
                            <span class="input-group-btn">
                            <button id="search-button" class="btn btn-flat"><i class="fa fa-search"></i>
                            </button>
                            </span>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
{% if is_bot == False %}
                        <li><a href="/"><i class="fa fa-home"></i> <span>Início</span></a></li>
                        <li><a href="/contact/"><i class="fa fa-life-ring"></i> <span>Contactar</span></a></li>
                        <li><a href="/v1/docs/"><i class="fa fa-book"></i> <span>Documentação</span></a></li>
{% else %}
                        <li><a href="/"><span>Início</span></a></li>
                        <li><a href="/contact/"><span>Contactar</span></a></li>
                        <li><a href="/v1/docs/"><span>Documentação</span></a></li>
{% endif %}
                    </ul>
                    <ul class="sidebar-menu hide-tmp" id="search-display">
                        <li class="header">Pesquisa</li>
						<div class="center-force">
                            <br><br>
                            <i class="fa fa-refresh fa-spin fa-3x color-white center-forced" aria-hidden="true"></i>
					    </div>
                    </ul>
                </section>
            </aside>
            <div class="content-wrapper">

                <div class="visible-xs">
                    <div id="helper-search" class="helper-search" style="display:none">
                        <i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
                        <span>Clique aqui para ver as pesquisas</span>
                    </div>
                </div>


                {% block content %}{% endblock %}

            </div>
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <small>
                        Versão 1.2.0 <a href="/contact/">Contactar</a>
                    </small>
                </div>
                <strong>Copyright &copy; 2016 <a href="https://www.getcompany.info/">GetCompany Info</a>.</strong> All rights reserved.
            </footer>
        </div>

        {% if debug == True %}
            <script src="{% static 'vendor/jQuery/jQuery-2.2.0.min.js' %}"></script>
            <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'vendor/fastclick/fastclick.js' %}"></script>
            <script src="{% static 'vendor/slimScroll/jquery.slimscroll.js' %}"></script>
            <script src="{% static 'vendor/pnotify/pnotify.js' %}"></script>
            <script src="{% static 'js/app.js' %}"></script>
        {% else %}
            <script src="{% static 'production/app.min.js' %}"></script>
        {% endif %}

        <script>

        {% if is_bot == False %}
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-76825720-1', 'auto');
          ga('send', 'pageview');

          {% endif %}

            {% if error %}
                newError("{{ error }}");
            {% endif %}

            {% if success %}
                newSuccess("{{ success }}");
            {% endif %}

        </script>


        {% block js %}{% endblock %}
    </body>
</html>
